html {
  font-family: 'Montserrat', sans-serif;
  background-color:#E2E2E2;
}

.app {
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  background-color:#F1F1F1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: #333;
  max-width: 1600px;
}

@media (min-width: 1000px) {
  .app{
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media (min-width: 1600px) {
  .app{
    margin-right: 10%;
    margin-left: 10%;
  }
}

.app > h1 {
  color: #FFFFFF;
}

.landing {
  width:100%;
}
.navbar {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar > h1 {
  color: #3DBB3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 35px;
}

.navbar > .links > a {
  color: #FFFFFF;
  margin-right:10%;
}

.navbar > .links > a:active {
  color: #3DBB3D;
}

.navbar > .links >  a:hover, .navbar > a:focus {
  color: #3DBB3D;
}

.navbar > input, .navbar > form > input {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}

.navbar > form {
  width: 100%;
  min-width: 100px;
}

.navbar > a {
  color: #FFFFFF;
}
.navbar > a:hover, .navbar > a:focus {
  color: #3DBB3D;
}

.navbar > a:active {
  color: #3DBB3D;
}

.carousel-title {
  color:#000000
}
