html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background-color:#DCDCDC;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:#808080	;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: #333;
}

.app > h1 {
  color: white;
}

.landing {
  width:100%;
}
.navbar {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar > h1 {
  color: #3DBB3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 35px;
}

.navbar > input, .navbar > form > input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.navbar > form {
  width: 100%;
  min-width: 300px;
}

.navbar > a {
  color: #FFFFFF;
}
.navbar > a:hover, .navbar > a:focus {
  color: #3DBB3D;
}

.navbar > a:active {
  color: #3DBB3D;
}
